h1 {
    font-size: 18pt;
}

h2 {
    font-size: 16pt;
}

h3 {
    font-size: 14pt;
}

h4 {
    font-size: 14pt;
}

h1, h2, h3, h4 {
    font-family: 'Calibri';
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    color: #ed135a;
    margin-top: 30px;
}

hr {
    display: none;
}

body {
    font-family: 'Calibri';
    font-size: 11pt;
}

pre {
    border: 15px solid #F5FAFC;
    margin-left: 10px;
    background-color: #F5FAFC;
    color: #2e2e2e;
    font-family: 'Calibri';
    font-size: 9pt;
}

li::marker {
    color: #ed135a !important;
}

table {
    text-align: justify;
    width: 100%;
}

table, th, td {
    border: 1px solid #ffffff;
    border-collapse: collapse;
    padding: 6px;
    text-align: left !important;
    font-family: 'Calibri';
}

table {
    border-collapse: collapse;
}

th {
    background-color: #ffffff;
    color: #ed135a;
    text-align: center;
    text-transform: uppercase;
    font-size: 11pt;
}

tr {
    background-color: #F5FAFC;
    font-size: 9pt;
}

    tr:nth-child(2n) {
        background-color: #FFFFFF;
    }

p {
    text-align: justify;
}
