body {
    font-family: 'Calibri';
    font-size: 11pt;
}

h1 {
    font-family: 'Calibri Light';
    font-size: 20pt;
    font-weight: normal;
}

h2 {
    font-family: 'Calibri Light';
    font-size: 20pt;
    font-style: normal;
    font-weight: normal;
}

h3 {
    font-family: 'Calibri';
    font-size: 16pt;
    font-style: normal;
    font-weight: normal;
    color: #1e4e79;
}

h4 {
    font-family: 'Calibri';
    font-size: 14pt;
    font-style: normal;
    font-weight: normal;
    color: #2e75b5;
}

h1, h2, h3, h4 {
    
}


.destaque {
    background-color: #FFF2CC;
    padding: 10px;
    border: 1px solid #D6B656;
}

table {
    border: 1px solid #999;
    width: 100%;
    background-color: white;
}

th, td {
    border: 1px solid #999;
    padding: 6px;
}

th {
    background-color: white;
    text-align: center;
}
